In [1]:
import pandas as pd
import sys
# pip install xlrd

In [2]:
import src.code1_data_exploration_and_hypothesis as pw1

*

*

Import of the well known shark attack dataset from Kaggle by assigning it to the variable 'data'.

In [3]:
dataset = pd.read_csv("data-inputs/attacks.csv",encoding = "ISO-8859-1")

*

*

Import of updated dataset, downloaded straight from the source: [Shark Research Institute](http://www.sharkattackfile.net/incidentlog.htm)

In [4]:
read_file = pd.read_excel ("data-inputs/attacks_updated_03042021.xls")

In [5]:
read_file.to_csv ("data-inputs/attacks_updated_03042021.csv", 
                  index = None,
                  header=True)

In [6]:
dataset_updated = pd.DataFrame(pd.read_csv("data-inputs/attacks_updated_03042021.csv"))

*

*

Comparison to decide which dataset to work with for the project.

In [7]:
dataset.shape

(25723, 24)

In [8]:
dataset_updated.shape

(25806, 24)

In [9]:
dataset_updated.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2021.03.02,02-Mar-2021,2021.0,Unprovoked,NEW CALEDONIA,Loyalty Islands,Ouvéa,Spearfishing,male,M,...,NaN,"Franceinfo, 3/2/2021",2021.03.02-NewCaledonia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.03.02,2021.03.02,6622.0,NaN,NaN

In [10]:
dataset.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

*

*

Replication of the chosen dataset to maintain original one intact

In [11]:
data1 = dataset_updated.copy()

In [12]:
data1.shape

(25806, 24)

*

*

### Initial inspection of data: reshaping imported data for exploration

Drop empty rows

In [13]:
data1.isnull().sum()

Case Number               17022
Date                      19186
Year                      19187
Type                      19196
Country                   19235
Area                      19656
Location                  19734
Activity                  19744
Name                      19399
Sex                       19758
Age                       22101
Injury                    19216
Fatal (Y/N)               19737
Time                      22613
Species                   22158
Investigator or Source    19203
pdf                       19186
href formula              19189
href                      19187
Case Number.1             19186
Case Number.2             19186
original order            19185
Unnamed: 22               25805
Unnamed: 23               25804
dtype: int64

In [14]:
data1 = data1.dropna(how='all')

In [15]:
data1.isnull().sum()

Case Number                  2
Date                      2166
Year                      2167
Type                      2176
Country                   2215
Area                      2636
Location                  2714
Activity                  2724
Name                      2379
Sex                       2738
Age                       5081
Injury                    2196
Fatal (Y/N)               2717
Time                      5593
Species                   5138
Investigator or Source    2183
pdf                       2166
href formula              2169
href                      2167
Case Number.1             2166
Case Number.2             2166
original order            2165
Unnamed: 22               8785
Unnamed: 23               8784
dtype: int64

*

*

Removing duplicate rows

In [16]:
d1 = data1[data1.duplicated(keep=False)]
data = data1[:6621]
data.shape

(6621, 24)

*

*

Removing columns with irrelevant data to this exploration (as they relate to internal database management file system) and renaming the remaining columns to facilitate further operations

In [17]:
data.columns
drop_candidates = ['Investigator or Source', 'pdf', 'href formula', 'href','Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22','Unnamed: 23']
data = data.drop(columns = drop_candidates)
columns_original = list(data.columns)
cols = ['fatal' if each == 'Fatal (Y/N)' else str(each).lower().strip().replace(" ","_") for each in columns_original]
data.columns = cols
display(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6621 entries, 0 to 6620
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  6619 non-null   object
 1   date         6620 non-null   object
 2   year         6619 non-null   float64
 3   type         6610 non-null   object
 4   country      6571 non-null   object
 5   area         6150 non-null   object
 6   location     6072 non-null   object
 7   activity     6062 non-null   object
 8   name         6406 non-null   object
 9   sex          6048 non-null   object
 10  age          3705 non-null   object
 11  injury       6590 non-null   object
 12  fatal        6069 non-null   object
 13  time         3193 non-null   object
 14  species      3648 non-null   object
dtypes: float64(1), object(14)
memory usage: 827.6+ KB

None

*

*

*

In [18]:
def test_import_link(dataset):
    return list(dataset.columns)

In [19]:
pw1.test_import_link(dataset)

['Case Number',
 'Date',
 'Year',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex ',
 'Age',
 'Injury',
 'Fatal (Y/N)',
 'Time',
 'Species ',
 'Investigator or Source',
 'pdf',
 'href formula',
 'href',
 'Case Number.1',
 'Case Number.2',
 'original order',
 'Unnamed: 22',
 'Unnamed: 23']

In [20]:
pw1.test_import_link(data)

['case_number',
 'date',
 'year',
 'type',
 'country',
 'area',
 'location',
 'activity',
 'name',
 'sex',
 'age',
 'injury',
 'fatal',
 'time',
 'species']

*

*

Checking index and number of rows in df is correct by creating a tuple

In [21]:
tup_check_length = ((len(list(range (0,6621)))),)
tup_check_length == data.index.shape

True

*

*

Export and check of resulting dataframe to .csv file without index for following steps.

In [22]:
data.to_csv('data-processed/attacks_updated_v1.csv',index = False)

In [23]:
check_exported_file = pd.read_csv('data-processed/attacks_updated_v1.csv',nrows=5)
display(check_exported_file)

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species
0,2021.03.02,02-Mar-2021,2021.0,Unprovoked,NEW CALEDONIA,Loyalty Islands,Ouvéa,Spearfishing,male,M,16.0,Left leg bitten,N,Afternoon,NaN
1,2021.02.28,28-Feb-2021,2021.0,Unprovoked,NEW CALEDONIA,NaN,I'îot Maître,Swimming,male,M,57.0,Right leg bitten but death due to heart attack,Y,11h00,"Tiger shark, 4 m"
2,2021.02.21,20-Feb-2021,2021.0,Provoked,AUSTRALIA,Queensland,Waterford West,Fishing,Jason Rogers,M,NaN,Superficial wound PROVOKED INCIDENT,N,17h30,"Bull shark, 80cm"
3,2021.02.06,06-Feb-2021,2021.0,Unprovoked,USA,Hawaii,"Waiokapua Bay, Kaui",Surfing,Gavin Klein,M,NaN,"No injury, surfboard bitten",N,16h30,NaN
4,2021.02.02.b,02-Feb-2021,2021.0,Watercraft,AUSTRALIA,South Australia,Gleneg,Surf skiing,Jad French,M,17.0,"No injury, surf ski bitten",N,19h00,Bronze whaler shark