<h1>2: Data Hypothesis &amp; Preparation<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Data-Formatting" data-toc-modified-id="Data-Formatting-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Formatting</a></span></li><li><span><a href="#2.title" data-toc-modified-id="2.title-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>2.title</a></span></li><li><span><a href="#3.title" data-toc-modified-id="3.title-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>3.title</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
import sys
import src.code2_data_preparation as f2
# pip install xlrd

### Imports

**Import of the .csv obtained in the previous step, assigned to:**
`dataframe`.

In [2]:
dataframe_GSFA = f2.import_csv("data-processed/attacks_updated_v1.csv")
dataframe_ISFA_types = f2.import_xls_to_csv("data-inputs/ISAF_attack_type_20192020.xls")
dataframe_ISFA_activity = f2.import_xls_to_csv("data-inputs/ISAF_victim_activity_20192020.xls")

In [3]:
df1 = dataframe_GSFA.copy()

In [4]:
df2 = dataframe_ISFA_activity.copy()

In [5]:
df3 = dataframe_ISFA_types.copy()

**t.**

### Data Formatting

**Slicing dataframe to obtain wanted columns**

In [6]:
df1=df1.loc[df1['year']==2019]

In [7]:
df2019= df1[['type','activity','fatal']].reset_index(drop=True)

**Changing column names and `dtypes`**

In [8]:
df2019['fatal'] = df2019['fatal'].replace(['N','Y','UNKNOWN',' N','F','2017','y','M','Y x 2','N '],['NO','YES','UNKNOWN','NO','YES','INVALID','YES','INVALID','INVALID','NO'])
df2 = df2.rename(columns ={'2019_percent':'perc2019', '2020_percent':'perc2020'})
df3 = df3.rename(columns ={'2019_count':'count2019', '2020_count':'count2020'})
df2.perc2019 = df2.perc2019*100
df2.perc2020 = df2.perc2020*100

In [9]:
df2019 = df2019.astype({'type':'category','type':'category','fatal':'category'})
df2[['perc2019']]= df2['perc2019'].astype('int64')
df2[['perc2020']]= df2['perc2020'].astype('int64')
df2 = df2.astype({'victim_activity':'category'})
df3 = df3.astype({'attack_type':'category'})

In [23]:
testing_unprov = df2019[df2019['type']=='Unprovoked']
testing_unprov

           type         activity fatal
0    Unprovoked         Swimming    NO
1    Unprovoked         Swimming    NO
2    Unprovoked     Spearfishing   YES
3    Unprovoked     Surf skiing     NO
4    Unprovoked  Boogie boarding    NO
..          ...              ...   ...
104  Unprovoked          Surfing    NO
106  Unprovoked     Spearfishing    NO
107  Unprovoked          Fishing   YES
109  Unprovoked         Swimming    NO
111  Unprovoked          Surfing    NO

[88 rows x 3 columns]

In [30]:
testing_fatal = df2019[df2019['fatal']=='NO']

In [31]:
testing_fatal

           type         activity fatal
0    Unprovoked         Swimming    NO
1    Unprovoked         Swimming    NO
3    Unprovoked     Surf skiing     NO
4    Unprovoked  Boogie boarding    NO
5    Unprovoked          Surfing    NO
..          ...              ...   ...
106  Unprovoked     Spearfishing    NO
108     Invalid  Boogie boarding    NO
109  Unprovoked         Swimming    NO
110     Invalid           Wading    NO
111  Unprovoked          Surfing    NO

[98 rows x 3 columns]

In [11]:
df2

          victim_activity  perc2019  perc2020
0    Surfing/board sports        53        61
1         Swimming/wading        25        26
2  Snorkeling/free-diving        11         3
3  Body surfing/horseplay         8         5
4                   Scuba         3         3

In [12]:
df3

              attack_type  count2019  count2020
0      Unprovoked attacks         64         57
1        Provoked attacks         41         39
2            Boat attacks         12          6
3                Scavenge          1          1
4          Public aquaria          1          1
5                Doubtful          3          3
6                     NaN          9          6
7           Not confirmed          9         16
8  Unprovoked fatal cases          2         10
9             Total cases        140        129

**R**

In [ ]:
datafr

### 2.title

**p**

In [ ]:
dat

**Dr.**

In [ ]:
dr

In [ ]:
f

**Q**

In [ ]:
da

### 3.title

**Es:**

In [ ]:
df = f1.export_df_to_csv_and_check (data2)